<template>
    <b-row class="py-2">
        <b-col class="mx-auto my-1 my-lg-0" v-for="(button, button_id) in buttons" :key="button_id">
            <toggle-button
                :row="pos"
                :pos="button_id"
                :label="button.label"
                :description="button.description"
                :command_on="button['command-on']"
                :command_off="button['command-off']"
                :pressed.sync="states[button_id]"
                @update:pressed="onPressed"
            />
        </b-col>
    </b-row>
</template>

<script>
module.exports = {
    name: 'buttons-row',
    props: [ 'pos', 'buttons', 'type',  'toggle_delay' ],
    data() {
        return {
            states: this.buttons.map((b, i) => {
                return {
                    pos: i,
                    state: b.active || false
                };
            })
        }
    },
    methods: {
        onPressed(event) {
            switch (this.type) {
            case 'TOGGLE':
                // only on for toggle_delay milliseconds
                setTimeout(() => {
                    this.states[event.pos].state = false;
                }, this.toggle_delay);
                break;
            case 'AND':
                // only the one clicked can be on
                this.states.forEach((v, i) => v.state = i == event.pos);
                break;
            case 'OR':
            default:
                // well... do nothing
            }
        }
    }
}
</script>

<style scoped>
</style>