<template>
    <b-alert show variant="danger">
        <h4 class="alert-heading">An error has occurred!</h4>
        <p>
            An error has occurred for the following reason:
        </p>
        <pre>{{ trace }}</pre>
        <hr>
        <p class="mb-0">
            Please open your browser console for more details.
        </p>
    </b-alert>
</template>

<script>
module.exports = {
    name: 'error',
    props: [ 'trace' ]
}
</script>

<style scoped>
</style>