<template>
    <div>
        <b-navbar type="dark" variant="dark">
            <b-navbar-brand to="/">
                {{ settings.title || 'Pipe | Launcher' }}
            </b-navbar-brand>
            <b-navbar-nav
                class="ml-auto"
                v-if="showSettings"
            >
                <b-button
                    to="/settings"
                    variant="dark"
                >
                    <span class="d-none d-sm-inline text-uppercase">Settings</span>
                    <span class="oi oi-wrench" aria-hidden="true"></span>
                </b-button>
            </b-navbar-nav>
        </b-navbar>
        <main v-if='!error'>
            <b-container
                fluid class="buttons-row"
                v-for="(row, row_id) in settings.rows"
                :key="row_id"
                :class="['py-2', 'pb-4', 'mt-2', { 'mb-3': row_id !== 0 }, 'border-bottom']"
            >
                <b-row class="py-2 mb-1">
                    <b-col class="clearfix">
                        <h2 class="float-left">{{ row.label }}</h2>
                        <div class="h5">
                            <b-badge
                                class="float-right"
                                :variant="rowBadgeColor(row.type)"
                            >
                                {{ row.type }}
                            </b-badge>
                        </div>
                    </b-col>
                </b-row>
                <buttons-row
                    :pos="row_id"
                    :buttons="row.buttons"
                    :type="row.type"
                    :toggle_delay="settings.general.delay"
                />
            </b-container>
        </main>
        <main v-else>
            <error :trace="error" />
        </main>
    </div>
</template>

<script>
module.exports = {
    name: 'home',
    props: [ 'showSettings' ],
    data() {
        return {
            error: undefined,
            settings: {}
        };
    },
    mounted() {
        this.getSettings();
    },
    methods: {
        getSettings() {
            axios.get('/api/data')
                .then(res => this.settings = res.data)
                .catch(err => this.error = err);
        },
        rowBadgeColor(type) {
            switch(type) {
            case 'TOGGLE':
                return 'warning'
            case 'AND':
                return 'danger'
            case 'OR':
                return 'success'
            default:
                return 'secondary'
            }
        }
    }
}
</script>

<style scoped>
nav.navbar {
    border-bottom: 5px solid;
    border-image-source: linear-gradient(90deg, cyan, magenta, yellow);
    border-image-slice: 1;
}
</style>