<template>
    <div>
        <b-navbar type="dark" variant="dark">
            <b-navbar-brand to="/settings">
                Settings
            </b-navbar-brand>
            <b-navbar-nav class="ml-auto">
                <b-nav-item>
                    <b-button
                        to="/"
                        variant="dark"
                    >
                        <span class="d-none d-sm-inline text-uppercase">Back</span>
                        <span class="oi oi-chevron-left" aria-hidden="true"></span>
                    </b-button>
                </b-nav-item>
                <b-nav-item>
                    <b-button
                        variant="danger"
                        @click="reset"
                    >
                        <span class="d-none d-sm-inline text-uppercase">Reset</span>
                        <span class="oi oi-circle-x" aria-hidden="true"></span>
                    </b-button>
                </b-nav-item>
                <b-nav-item>
                    <b-button
                        variant="success"
                        @click="setSettings"
                    >
                        <span class="d-none d-sm-inline text-uppercase">Save</span>
                        <span class="oi oi-circle-check" aria-hidden="true"></span>
                    </b-button>
                </b-nav-item>
            </b-navbar-nav>
        </b-navbar>
        <main>
            <b-container fluid class="my-4">
                <b-row class="mb-4">
                    <b-col cols="12">
                        <b-form-input
                            class="font-weight-bold text-center w-50 w-md-25 mx-auto"
                            size="lg"
                            v-model="settings.title"
                            placeholder="Title"
                        ></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="mt-2">
                    <b-col cols="12">
                        <b-input-group 
                            class="w-25 mx-auto"
                            size="sm"
                            append="ms"
                        >
                            <b-form-input
                                class="text-center"
                                v-model="settings.general.delay"
                                placeholder="Button delay"
                            ></b-form-input>
                        </b-input-group>
                    </b-col>
                </b-row>
            </b-container>
            <b-container
                fluid class="buttons-row"
                v-for="(row, row_id) in settings.rows"
                :key="row_id"
                :class="['py-2', 'pb-4', 'mt-2', { 'mb-3': row_id !== 0 }, 'border-bottom']"
            >
                <settings-row
                    :pos="row_id"
                    :row.sync="settings.rows[row_id]"
                    @remove="onRemoveRow"
                />
            </b-container>
            <b-container
                fluid class="buttons-row py-2 pb-4 mt-2 border-bottom"
                v-if="settings.rows" 
            >
                <b-row class="py-2">
                    <b-col
                        cols="12"
                        class="mx-auto my-2 mt-3"
                    >
                        <b-button
                            class="w-100 text-uppercase"
                            variant="primary"
                            size="lg"
                            @click="onAddRow"
                        >Add new row</b-button>
                    </b-col>
                </b-row>
            </b-container>
        </main>
    </div>
</template>

<script>
module.exports = {
    name: 'settings',
    data() {
        return {
            settings: {}
        };
    },
    mounted() {
        this.getSettings();
    },
    methods: {
        reset() {
            this.getSettings();
        },
        getSettings() {
            axios.get('/api/data')
                .then(res => this.settings = res.data)
                .catch(err => {
                    this.commandToast(err, set=false);
                    return this.error = err;
                });
        },
        setSettings() {
            axios.post('/api/data', this.settings)
                .catch(err => {
                    this.commandToast(err);
                    return this.error = err;
                })
                .then(() => {
                    this.commandToast();
                    return this.getSettings();
                });
        },
        onRemoveRow(index) {
            this.$set(this.settings, 'rows', this.settings.rows.filter((_, i) => i !== index));
        },
        onAddRow() {
            this.$set(this.settings, 'rows', this.settings.rows.concat({
                label: 'New row label',
                type: 'AND',
                buttons: []
            }));
        },
        commandToast(error, set=true) {
            const actionSucc = set? 'saved' : 'retrieved';
            const actionErr = set? 'saving' : 'retrieving';
            this.$bvToast.toast(
                error? `Error ${actionErr} settings: ${error}` : `Settings ${actionSucc}!`,
                {
                    title: error? ':(' : ':)',
                    toaster: 'b-toaster-bottom-right',
                    variant: error? 'danger' : 'success',
                    solid: true,
                    appendToast: true,
                    autoHideDelay: 10000
                }
            )
        }
    }
}
</script>

<style scoped>
nav.navbar {
    border-bottom: 5px solid;
    border-image-source: linear-gradient(90deg, red, lime, blue);
    border-image-slice: 1;
}
</style>