<template>
    <section>
        <b-row class="py-2 mb-1">
            <b-col class="clearfix">
                <b-form-input
                    class="float-md-left w-md-25"
                    size="lg"
                    v-model="row.label"
                    placeholder="Label"
                ></b-form-input>
                <b-form-group class="float-md-right mt-4 mb-1 my-md-0">
                    <b-form-radio-group
                        v-model="row.type"
                        :options="typeOptions"
                        button-variant="outline-primary"
                        buttons
                    ></b-form-radio-group>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row class="py-2">
            <b-col
                :cols="12" xl="6"
                class="mx-auto my-2"
                v-for="(button, button_id) in row.buttons"
                :key="button_id"
            >
                <settings-button
                    :pos="button_id"
                    :button.sync="row.buttons[button_id]"
                    @remove="onRemoveButton"
                />
            </b-col>
            <b-col
                cols="12" xl="6"
                class="mx-auto my-2"
                v-if="row.buttons.length < 8"
            >
                <b-button
                    class="w-100"
                    variant="success"
                    size="lg"
                    @click="onAddButton"
                >
                    <span class="oi oi-plus" aria-hidden="true"></span>
                </b-button>
            </b-col>
            <b-col
                cols="12"
                class="mx-auto my-2 mt-3"
            >
                <b-button
                    class="w-100 text-uppercase"
                    variant="danger"
                    size="lg"
                    @click="onRemoveClick"
                >Remove row "{{ row.label }}"</b-button>
            </b-col>
        </b-row>
    </section>
</template>

<script>
module.exports = {
    name: 'settings-row',
    props: [ 'pos', 'row' ],
    data() {
        return {
            typeOptions: ['AND', 'TOGGLE', 'OR'].map(t => {
                return {
                    text: t,
                    value: t
                };
            })
        }
    },
    methods: {
        rowBadgeColor(type) {
            switch(type) {
            case 'TOGGLE':
                return 'warning'
            case 'AND':
                return 'danger'
            case 'OR':
                return 'success'
            default:
                return 'secondary'
            }
        },
        onRemoveButton(index) {
            const newButtons = this.row.buttons.filter((_, i) => i !== index);
            this.$emit('update:row', Object.assign({}, this.row, { buttons: newButtons }));
        },
        onAddButton() {
            const newButtons = this.row.buttons.concat({ label: 'New label' })
            this.$emit('update:row', Object.assign({}, this.row, { buttons: newButtons }));
        },
        onRemoveClick() {
            this.$emit('remove', this.pos);
        }
    }
}
</script>

<style scoped>
</style>