<template>
    <div>
        <div
            class="rounded bg-secondary w-100 mb-2 p-2"
        >
            <div class="clearfix clearfix-disable-md">
                <b-form-checkbox
                    class="ml-1 float-left text-uppercase"
                    v-model="button.active"
                    :value="true"
                    :unchecked-value="false"
                    button-variant="outline-warning"
                    size="sm"
                    button
                >Active</b-form-checkbox>
                <b-button
                    class="text-uppercase float-right"
                    variant="danger"
                    size="sm"
                    @click="onRemoveClick"
                >
                    <span class="oi oi-x" aria-hidden="true"></span>
                </b-button>
            </div>
            <b-form-input
                class="w-100 w-md-50 text-center mx-md-auto mt-2 mt-md-0"
                v-model="button.label"
                placeholder="Label"
            ></b-form-input>
        </div>
        <b-form-input
            class="my-1"
            v-model="button.description"
            placeholder="Description"
        ></b-form-input>
        <b-form-input
            class="my-1 text-monospace"
            v-model="button['command-on']"
            placeholder="Command ON"
        ></b-form-input>
        <b-form-input
            class="mt-1 text-monospace"
            v-model="button['command-off']"
            placeholder="Command OFF"
        ></b-form-input>
    </div>
</template>

<script>
module.exports = {
    name: 'settings-button',
    props: [ 'pos', 'button' ],
    methods: {
        onRemoveClick() {
            this.$emit('remove', this.pos);
        }
    }
}
</script>

<style scoped>
</style>