<template>
    <b-button
        :id="id"
        :variant="variant"
        size="lg"
        class="w-100"
        :pressed="pressed.state"
        @click="onClick"
    >
        <b-tooltip
            v-if="description"
            :target="id"
            variant="info"
            triggers="hover"
            placement="topright"
        >
            {{ description }}
        </b-tooltip>
        {{ label }}
    </b-button>
</template>

<script>
module.exports = {
    name: 'toggle-button',
    props: [ 'row', 'pos', 'label', 'description', 'command_on', 'command_off', 'pressed' ],
    computed: {
        id() {
            return 'button-' + (this.row+1) + '-' + (this.pos+1);
        },
        variant() {
            return this.pressed.state? 'primary' : 'outline-secondary';
        },
        active() {
            return this.pressed.state;
        }
    },
    watch: {
        active(curr, old) {
            // default turn off command
            let command = this.command_off;
            if (curr) {
                // change if turning os
                command = this.command_on;
            }
            if (command) {
                this.launchCommand(command);
            }
            this.setActive(curr);
        }
    },
    methods: {
        onClick() {
            this.$emit('update:pressed', {
                pos: this.pos,
                state: !this.pressed.state
            });
        },
        launchCommand(command) {
            axios.post('/api/command', {
                    command
                })
                .then(res => this.commandToast(res.data))
                .catch(err => this.commandToast({
                    command,
                    error: true,
                    output: err.toString()
                }));
        },
        setActive(active) {
            axios.put('/api/data/active', {
                    row: this.row,
                    col: this.pos,
                    active
                });
        },
        commandToast(cmdResponse) {
            const v = this.$createElement;
            this.$bvToast.toast(
                [
                    v('p', {}, [
                        'Output:',
                        v('pre', {
                            class: [ 'text-wrap' ]
                        }, cmdResponse.output? cmdResponse.output : 'no output!')
                    ])
                ],
                {
                    title: [
                        cmdResponse.error? 'Failed:' : 'Succeded:',
                        v('span', {
                            class: [ 'ml-1', 'text-monospace', 'text-wrap' ]
                        }, cmdResponse.command)
                    ],
                    toaster: 'b-toaster-bottom-right',
                    variant: cmdResponse.error? 'danger' : 'success',
                    solid: true,
                    appendToast: true,
                    autoHideDelay: 10000
                }
            )
        }
    }
}
</script>

<style scoped>
</style>