<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ version }}</title>
    <meta name="description" content="Command launcher for the web">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon"
            href="{{ url_for('static', filename='favicon.ico') }}" />

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min-4.3.1.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-vue.min-2.0.2.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-fixes.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/open-iconic-bootstrap.min.css') }}" />

    <script src="{{ url_for('static', filename='dist/vue-2.6.10.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/http-vue-loader-1.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/vue-router.min-3.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/bootstrap-vue.min-2.0.2.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/axios.min-0.19.0.js') }}"></script>
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="module">
        Vue.component('error', httpVueLoader("{{ url_for('static', filename='js/components/error.vue') }}"));
        Vue.component('buttons-row', httpVueLoader("{{ url_for('static', filename='js/components/buttons-row.vue') }}"));
        Vue.component('toggle-button', httpVueLoader("{{ url_for('static', filename='js/components/toggle-button.vue') }}"));
    {% if show_settings %}
        Vue.component('settings-row', httpVueLoader("{{ url_for('static', filename='js/components/settings-row.vue') }}"));
        Vue.component('settings-button', httpVueLoader("{{ url_for('static', filename='js/components/settings-button.vue') }}"));
    {% endif %}
        new Vue({
            router: new VueRouter({
                routes: [
                    {
                        path: '/',
                        component: httpVueLoader("{{ url_for('static', filename='js/components/home.vue') }}"),
                        props: {
                            showSettings: {{ show_settings | lower }}
                        }
                    },
                {% if show_settings %}
                    {
                        path: '/settings',
                        component: httpVueLoader("{{ url_for('static', filename='js/components/settings.vue') }}")
                    }
                {% endif %}
                ]
            })
        }).$mount('#app');
    </script>
</body>

</html>